.AddStock,
.RemoveStock {
  padding: 40px;
  max-width: 500px;
  display: block;
  margin: 0 auto;
}

.StockLevels {
  display: block;
  margin: 0 auto;
}

.navbar {
  padding: 20px;
}

.btn:hover {
  color: #212529;
  background-color: #ffffff;
  transition: all 150ms ease-in-out;
}
